In [26]:
# import library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display

import pingouin as pg
import researchpy   
%matplotlib inline

In [27]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [28]:
# 查看有缺失值的行列
print(df_train.isnull().sum())
df=df_train.dropna(axis=0,how="any")
df

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [39]:
# Q1: 透過數值法計算 Age 和 Survived 是否有相關性?
# 中度相關
aov=pg.anova(dv="Age",between="Survived",data=df,detailed=True)
print(aov)
etaSq=aov.SS[0]/(aov.SS[0]+aov.SS[0])
print(etaSq)

contTable=pd.crosstab(df["Age"],df["Survived"])
print(contTable)

freedom = min(contTable.shape[0], contTable.shape[1]) - 1
print("df:",freedom)

crosstab,res=researchpy.crosstab(df["Age"],df["Survived"],test="chi-square")
print(res)
print("Cramer's value is",res.loc[2,"results"] )

     Source            SS   DF           MS          F     p-unc       np2
0  Survived   2875.522529    1  2875.522529  12.491639  0.000519  0.064559
1    Within  41665.436185  181   230.195780        NaN       NaN       NaN
0.5
Survived  0  1
Age
0.92      0  1
1.00      0  1
2.00      2  1
3.00      0  1
4.00      0  3
...      .. ..
64.00     1  0
65.00     2  0
70.00     1  0
71.00     1  0
80.00     0  1

[63 rows x 2 columns]
df: 1
                 Chi-square test  results
0  Pearson Chi-square ( 62.0) =   78.8390
1                     p-value =    0.0732
2                  Cramer's V =    0.6564
Cramer's value is 0.6564

In [32]:
# Q2：透過數值法計算 Sex 和 Survived 是否有相關性？
# 中度相關
contTable=pd.crosstab(df["Sex"],df["Survived"])
print(contTable)

freedom = min(contTable.shape[0], contTable.shape[1]) - 1
print("df:",freedom)

crosstab,res=researchpy.crosstab(df["Sex"],df["Survived"],test="chi-square")
print(res)
print("Cramer's value is",res.loc[2,"results"] )

Survived   0   1
Sex
female     6  82
male      54  41
df: 1
                Chi-square test  results
0  Pearson Chi-square ( 1.0) =   51.8748
1                    p-value =    0.0000
2               Cramer's phi =    0.5324
Cramer's value is 0.5324

In [41]:
# Q3：透過數值法計算 Age 和 Fare 是否有相關性？
corr,_=stats.pearsonr(df["Age"],df["Fare"])
print(corr)

-0.09242385620999946